<%
content_for :title do
"Confirmación de cuenta"
end

if resource.errors.any? %>
<div class="alert alert-error">
	Algo pas&oacute;. Revisa el formulario para verificar errores.
</div>
<% end %>
<h1>Confirmaci&oacute;n de correo electr&oacute;nico</h1>

<p class="centrado">
	Un correo de confirmaci&oacute;n te ha sido enviado para validar la direcci&oacute;n de correo electr&oacute;nico que ingresaste.
	<br>
	En caso de no conseguir el mensaje en tu bandeja de entrada, <b>revisa también la bandeja de correo no deseado (spam)</b>.
	<br>
	De haber llegado como spam, por favor, <b>marca que NO es spam</b>, así evítaras inconvenientes al recibir nuestros correos.
	<br>
	Si no recibiste el mensaje ingresa la direcci&oacute;n de correo con la que te registraste y lo enviaremos de nuevo.
</p>
<div class="formulario-general offset2 span11">
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
		<div class="control-group">
			<%= f.label :email %>
			<div class="controls">
				<%= f.email_field :email %>
			</div>
		</div>
		<span class="help-block">(Antes de solicitar un nuevo correo revisa tu bandeja de correo no deseado o SPAM)</span>
	
		<div class="botones">
			<%= f.submit "Enviar instrucciones", :class => 'btn btn-warning' %>
		</div>
	<% end %>
</div>

<div id="caracteristicas" class="offset1 span7">
	<%= render "devise/shared/links" %>
</div>
