<% 
  content_for :title do 
    "Registro de #{resource_name}"
  end
%>
<h2>Registro de <%= resource_name %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if resource.errors.any? %>
    <div class="alert alert-error">
      Ocurri&oacute; un error. Revisa el formulario.
    </div>
  <% end %>
  <fieldset>
    <legend>Datos de la cuenta</legend>
    <div class="control-group"><%= f.label :email %>
      <div class="controls"><%= f.email_field :email %></div>
    </div>
  
    <div class="control-group"><%= f.label :email_confirmation %>
      <div class="controls"><%= f.email_field :email_confirmation %></div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Datos personales</legend>
    <div class="control-group"><%= f.label :nombre %>
      <div class="controls"><%= f.text_field :nombre %></div>
    </div>
    
    <div class="control-group"><%= f.label :apellido %>
      <div class="controls"><%= f.text_field :apellido %></div>
    </div>
    
    <div class="control-group"><%= f.label :sexo %>
      <div class="controls"><%= f.select(:sexo, Usuario::SEXO, {:prompt => 'Selecciona'}) %></div>
    </div>
  
    <div class="control-group"><%= f.label :fecha_nacimiento %>
      <div class="controls"><%= f.date_select :fecha_nacimiento, :start_year => Time.now.year - 85, :end_year => Time.now.year - 16, :class => 'date_field' %></div>
    </div>
  </fieldset>
  <div><%= f.check_box :acepta_terminos %><%= f.label :acepta_terminos %></div>
  
  <%= f.hidden_field :perfilable_type, :value => resource_name %>

   <div class="form-actions">
    <p><%= f.submit nil, :class => 'btn btn-primary' %></p>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
