<h2>Registro de <%= resource_name %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <fieldset>
    <legend>Datos de la cuenta</legend>
    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>
  
    <div><%= f.label :email_confirmation %><br />
    <%= f.email_field :email_confirmation %></div>
  
    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>
  
    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>
  </fieldset>
  <fieldset>
    <legend>Datos personales</legend>
    <div><%= f.label :nombre %><br>
    <%= f.text_field :nombre %></div>
    
    <div><%= f.label :apellido %><br>
    <%= f.text_field :apellido %></div>
    
    <div><%= f.label :sexo %><br>
    <%= f.enum_select :sexo %></div>
  
    <div><%= f.label :fecha_nacimiento %><br>
    <%= f.date_select :fecha_nacimiento, :start_year => Time.now.year - 85, :end_year => Time.now.year - 16, :class => 'date_field' %></div>
    
    <div><%= f.label :telefono_local %><br>
    <%= f.text_field :telefono_local %></div>
    
    <div><%= f.label :telefono_movil %><br>
    <%= f.text_field :telefono_movil %></div>
    
    <div><%= f.label :telefono_alt %><br>
    <%= f.text_field :telefono_alt %></div>
  </fieldset>
  <div><%= f.label :acepta_terminos %><br />
  <%= f.check_box :acepta_terminos %></div>
  
  <%= f.hidden_field :perfilable_type, :value => resource_name %>

  <div><%= f.submit "Registrar" %></div>
<% end %>

<%= render "devise/shared/links" %>
