
            <% if solicitante_signed_in? %>
              <%= link_to 'Panel', panel_solicitante_path %>
              <%= link_to 'Salir', destroy_solicitante_session_path %>
            <% elsif proveedor_signed_in? %>
              <%= link_to "Panel", panel_proveedor_path %>
              <%= link_to 'Salir', destroy_proveedor_session_path %>
            <% else %>
              <p>Iniciar sesión:</p>
              <%= link_to "Solicitante", new_session_path("solicitante") %>
              <%= link_to "Proveedor", new_session_path("proveedor") %>
            <% end %>
