
        <meta charset="utf-8">
        <title><%= content_for?(:title) ? yield(:title) : "TenTuPresupuesto: Solicita servicios de reparación y remodelación" %></title>
        <meta name="title" content="TenTuPresupuesto - <%= yield(:title) if content_for?(:title) %>">
        <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : 'Servicios de reparación y remodelación: decoracion de interiores, cocinas, baños, plomeria, carpinteria, construccion, impermeabilizacion, jardineria... ¡y más!' %>" >
        <meta name="keywords" content="filtraciones, carpinteros, construcciones, remodelaciones, reparaciones, mecanicos, ascensores, bombas de agua, decoracion de interiores, topes, pisos, puertas, rejas, ventanas, cocinas, baños">
        <meta name="author" content="@MarcoGonzalo">
        <meta name="application-name" content="TenTuPresupuesto">
        <meta name="robots" content="all">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="google-site-verification" content="LHZYdYVTJf5atQT3Ye4-gn4xnS26feS3sJdBifmoeuY">
        <%= render 'layouts/shared/ga' %>
        <%= favicon_link_tag image_path('tentu/favicon/apple-touch-icon-144-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
        <%= favicon_link_tag image_path('tentu/favicon/apple-touch-icon-114-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
        <%= favicon_link_tag image_path('tentu/favicon/apple-touch-icon-72-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
        <%= favicon_link_tag image_path('tentu/favicon/apple-touch-icon-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
        <%= favicon_link_tag image_path('tentu/favicon/favicon.png'), :rel => 'shortcut icon' %>
        <%= javascript_include_tag "modernizr" %>
