
        <meta charset="utf-8">
        <title>TenTuPresupuesto<%= content_for?(:title) ? " :: " : "" %><%= content_for?(:title) ? yield(:title) : "" %></title>
        <meta name="Title" content="TenTuPresupuesto - <%= yield(:title) if content_for?(:title) %>">
        <meta name="Description" content="Búsqueda y contratación de servicios de reparación y remodelación por comparación de precios y calidad."
        <meta name="Keywords" content="presupuestos, trabajadores a domicilio, contratación de servicios, reparación y remodelación, reparaciones, remodelaciones, licitaciones, hogar, casa, oficina, solicitudes, proveedores">
        <meta name="Author" content="Marco Gonzalo Gómez Pérez">
        <meta name="Language" content="Spanish">
        <meta name="Robots" content="all">
        <meta name="Revisit" content="1 day">
        <meta name="Distribution" content="Global">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="google-site-verification" content="LHZYdYVTJf5atQT3Ye4-gn4xnS26feS3sJdBifmoeuY">
        <%= favicon_link_tag image_path('tentu/favicon/apple-touch-icon-144-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
        <%= favicon_link_tag image_path('tentu/favicon/apple-touch-icon-114-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
        <%= favicon_link_tag image_path('tentu/favicon/apple-touch-icon-72-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
        <%= favicon_link_tag image_path('tentu/favicon/apple-touch-icon-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
        <%= favicon_link_tag image_path('tentu/favicon/favicon.png'), :rel => 'shortcut icon' %>
        <%= javascript_include_tag "modernizr" %>
        <%= render 'layouts/shared/ga' %>
