<%
 content_for :head do
    stylesheet_link_tag 'trabajos', 'presupuestos'
  end

  content_for :title do
    "Presupuesto para: "+@trabajo.proposito
  end

  content_for :article_tag_id do
    "solicitud-trabajo"
  end

  content_for :liston do
    render :partial => 'trabajos/cabecera', :locals => {:trabajo => @trabajo, :cantidad_presupuestos => @trabajo.presupuestos.size, :color => "b"}
  end

  content_for :foot do
    javascript_include_tag 'presupuestos'
  end
%>
<div id="crear-presupuesto" class="formulario-pendon offset1 span12">
    <div class="titulo-pendon">
        <h2 class="sobre-color">Presupuesto</h2>
    </div>
    <div class="cuerpo-pendon">
        <%= form_for @path, :validate => true do |f| %>
            <span class="help-block mini-nota">Se indicará al cliente que estos son montos estimados y no definitivos.</span>
            <div class="row">
                <div class="control-group span3">
                    <%= f.label :precio_minimo, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :precio_minimo, :class => "text-field" %>
                    </div>
                </div>
                <div class="control-group offset1 span3">
                    <%= f.label :precio_maximo, :class => 'control-label' %>
                    <div class=" controls">
                        <%= f.text_field :precio_maximo, :class => "text-field" %>
                    </div>
                </div>
            </div>
            <div class="span10">
                <div class="control-group">
                    <label for="presupuesto_con_iva" class="checkbox" %> <%= f.check_box :con_iva, :class => 'check_box' %> El precio incluye <abbr title="Impuesto al Valor Agregado">IVA</abbr> </label>
                </div>
            </div>
            <br>
            <div class="clearfix">
                <div class="control-group">
                    <%= f.label :tipo_estimacion, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.select :tipo_estimacion, tipos_estimacion %>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <%= f.label :resumen, :class => 'control-label' %>
                <div class="controls">
                    <%= f.text_area :resumen, :class => 'text_area', 'rel' => 'tooltip', 'title' => 'Procura dar información de tu servicio, las actividades necesarias. Evita sólo decir que debe visitarse el lugar.' %>
                </div>
            </div>
            <div class="botones">
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")), trabajo_path(@trabajo), :class => 'btn' %>
                <%= f.submit 'Enviar presupuesto', :class => 'btn btn-warning' %>
            </div>
        <% end %>
    </div>
</div>
<%= render :partial => 'trabajos/caracteristicas', :locals => {:trabajo => @trabajo} %>
