<div id="registro" class="formulario-pendon offset1 span12">
  <div class="titulo-pendon"><h2 class="sobre-color">Presupuesto</h2></div>
  <div class="cuerpo-pendon">
<%= form_for  [@trabajo, @presupuesto] do |f| %>
  <div class="row">
    <div class="control-group span4">
      <%= f.label :precio_minimo, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :precio_minimo, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group span4">
      <%= f.label :precio_maximo, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :precio_maximo, :class => 'text_field' %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label for="presupuesto_con_iva" class="checkbox" %>
        <%= f.check_box :con_iva, :class => 'check_box' %> El precio incluye <abbr title="Impuesto al Valor Agregado">IVA</abbr>
    </label>
  </div>
  <div class="control-group">
    <%= f.label :resumen, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :resumen, :class => 'text_area' %>
    </div>
  </div>
  <div class="botones">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                trabajo_presupuestos_path(@trabajo), :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-warning' %>
  </div>
<% end %>
  </div>
</div>
<div id="caracteristicas" class="offset1 span8">
  <h2>La solicitud</h2>
  <br>
  <p class="titulo">Categoría:</p><p class="texto"><%= @trabajo.categoria.nombre %></p>
  <p class="titulo">Solicitud:</p><p class="texto"><%= @trabajo.proposito %></p>
  <p class="titulo">Descripción:</p><p class="texto"><%= @trabajo.descripcion %></p>
</div>
