<% content_for :foot do %>
  <%= javascript_include_tag 'presupuestos' %>
<% end %>
<%- model_class = Presupuesto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
  <h2><%= @trabajo.proposito %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:precio_minimo) %>:</strong></dt>
  <dd><%= @presupuesto.precio_minimo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio_maximo) %>:</strong></dt>
  <dd><%= @presupuesto.precio_maximo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:resumen) %>:</strong></dt>
  <dd><%= @presupuesto.resumen %></dd>
  <dt><strong><%= model_class.human_attribute_name(:con_iva) %>:</strong></dt>
  <dd><%= @presupuesto.con_iva %></dd>
  <dt><strong><%= model_class.human_attribute_name(:visto) %>:</strong></dt>
  <dd><%= @presupuesto.visto %></dd>
</dl>
<div class="form-actions">
  <% if @es_el_solicitante %>
    <%= link_to "Volver", trabajo_presupuestos_path(@trabajo), :class => 'btn' %>
    <%= link_to "Contratar proveedor", aceptar_presupuesto_path(@presupuesto), :remote => true, :method => 'put', :id => 'aceptar-presupuesto', :class => 'btn btn-success' %>
    <%= link_to "Rechazar presupuesto", '#modal-rechazo', :id => 'rechazar-presupuesto', :class => 'btn btn-danger', "data-toggle"=>"modal", "data-backdrop"=>"static" %>
    <%= render 'presupuestos/form_rechazo' %>  
    <span id="loading" style="display:none;">Cargando</span>
  <% end %>
  <% if @es_el_proveedor %> 
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_presupuesto_path(@presupuesto), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              presupuesto_path(@presupuesto),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
<a name="mensajes"></a>
<section id="mensajes">
  <h2>Mensajes</h2>
  <div id="listado-mensajes">
    <%= render(:partial => 'mensajes/cuadro_mensaje', :collection => @mensajes, :as => :m, :locals => {:tipo_usuario => @tipo_usuario}) or 'No hay mensajes.' %>
  </div>
  <%= render :partial => 'mensajes/form' %>
</section>
