<%= form_for(@proveedor) do |f| %>
  <fieldset>
    <legend>Datos de la empresa</legend>

    <div class="control-group"><%= f.label :nombre_empresa %> <span class="informacion-campo">(Si no tiene empresa, coloque algo relacionado al servicio ofrecido)</span>
      <div class="controls"><%= f.text_field :nombre_empresa %></div>
    </div>
    
    <div class="control-group"><%= f.label :tipo_proveedor %>
      <div class="controls"><%= f.select :tipo_proveedor, tipos_proveedor %></div>
    </div>
    
    <div class="control-group"><%= f.label :rif %> <span class="informacion-campo">Ej.: X-########-# (Si no tiene, dejar en blanco)</span>
      <div class="controls"><%= f.text_field :rif %></div>
    </div>
    
    <div class="control-group"><%= f.label :descripcion %>
      <div class="controls"><%= f.text_area :descripcion %></div>
    </div>
    
  </fieldset>
  <fieldset>
    <legend>Datos de contacto</legend>
    (Ser&aacute; entregado al cliente al aceptar el presupuesto)
    
    <div class="control-group"><%= f.label :telefono_local %>
      <div class="controls"><%= f.text_field :telefono_local %></div>
    </div>
    
    <div class="control-group"><%= f.label :telefono_movil %>
      <div class="controls"><%= f.text_field :telefono_movil %></div>
    </div>
    
    <div class="control-group"><%= f.label :telefono_alt %>
      <div class="controls"><%= f.text_field :telefono_alt %></div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Datos de ubicaci&oacute;n</legend>
    (Si tienes local u oficina)
    <div class="control-group"><%= f.label :direccion %>
      <div class="controls"><%= f.text_area :direccion %></div>
    </div>
    <div class="control-group"><%= f.label :punto_referencia %>
      <div class="controls"><%= f.text_field :punto_referencia %></div>
    </div>
  </fieldset>
  
  <div class="form-actions">
    <p><%= f.submit "Guardar perfil", :class => 'btn btn-primary' %></p>
  </div>
<% end %>
