<%- model_class = Proveedor -%>
<% 
content_for :head do
  stylesheet_link_tag 'categorias', 'proveedores'
end

content_for :foot do
  javascript_include_tag 'proveedores'
end

content_for :title do
  "Categorías de servicios ofrecidos"
end
%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "Categorías de #{model_class.model_name.human}") %></h1>
</div>
<div class="formulario-general categorias">
  <%= form_for @proveedor , :url => update_categorias_de_proveedor_path, :method => :put do |f| %>
    <div id="categorias">
    <% for cat in Categoria.find(:all) %>  
        <label class="checkbox">  
          <%= check_box_tag :categoria_ids,  
                      cat.id,  
                      @proveedor.categorias.include?(cat),  
                      :name => @proveedor.class.name.downcase+'[categoria_ids][]' %>   
          <%= cat.nombre %>  
        </label>  
    <% end %>
    </div>
    <div class="botones"><%= f.submit "Actualizar", :class => 'btn btn-warning' %></div>
  <% end %>
</div>
