<%- model_class = Proveedor -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "Categorías de #{model_class.model_name.human}") %></h1>
</div>
<%= form_for @proveedor , :url => update_categorias_de_proveedor_path, :method => :put do |f| %>
  <% for cat in Categoria.find(:all) %>  
      <label>  
        <%= check_box_tag :categoria_ids,  
                    cat.id,  
                    @proveedor.categorias.include?(cat),  
                    :name => @proveedor.class.name.downcase+'[categoria_ids][]' %>   
        <%= cat.nombre %>  
      </label>  
  <% end %>
  <div class="form-actions">
    <p><%= f.submit "Actualizar", :class => 'btn btn-primary' %></p>
  </div>
<% end %>