<%- model_class = Proveedor -%>
<%
 content_for :head do
    stylesheet_link_tag 'categorias', 'proveedores'
  end

  content_for :title do
    "Sitio web y perfiles sociales"
  end
%>
<div class="page-header">
    <h1><%= t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
    :default => "Enlaces de #{model_class.model_name.human}") %></h1>
</div>
<p class="centrado">
    Indícale a tus futuros clientes las direcciones donde pueden encontrarte en Internet.
</p>
<div class="formulario-general categorias">
    <%= form_for @proveedor , :url => enlaces_de_proveedor_path, :method => :put do |f| %>
        <fieldset>
            <legend>
                Sitio web y perfiles sociales
            </legend>
    
            <div class="row">
                <div class="control-group span9">
                    <%= f.label :web_url %>
                    <div class="controls">
                        <%= get_favicon('web') %>
                        <%= f.url_field :web_url, :placeholder => 'http://www.tentupresupuesto.com.ve' %>
                    </div>
                </div>
    
                <div class="control-group span9">
                    <%= f.label :facebook_url %>
                    <div class="controls">
                        <%= get_favicon('http://www.facebook.com') %>
                        <%= f.url_field :facebook_url, :placeholder => 'http://www.facebook.com/TenTuPresupuesto' %>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="control-group span9">
                    <%= f.label :twitter_url %>
                    <div class="controls">
                        <%= get_favicon('http://www.twitter.com') %>
                        <%= f.url_field :twitter_url, :placeholder => 'http://www.twitter.com/TnTuPresupuesto' %>
                    </div>
                </div>
    
                <div class="control-group span9">
                    <%= f.label :google_url %>
                    <div class="controls">
                        <%= get_favicon('plus.google.com') %>
                        <%= f.url_field :google_url, :placeholder => 'http://plus.google.com/u/0/110823009356675456247' %>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="control-group span9">
                    <%= f.label :linkedin_url %>
                    <div class="controls">
                        <%= get_favicon('http://www.linkedin.com') %>
                        <%= f.url_field :linkedin_url, :placeholder => 'http://www.linkedin.com/company/tentupresupuesto' %>
                    </div>
                </div>
    
                <div class="control-group span9">
                    <%= f.label :youtube_url %>
                    <div class="controls">
                        <%= get_favicon('http://www.youtube.com') %>
                        <%= f.url_field :youtube_url, :placeholder => 'http://www.youtube.com/user/TenTuPresupuesto' %>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="control-group span9">
                    <%= f.label :pinterest_url %>
                    <div class="controls">
                        <%= get_favicon('http://www.pinterest.com') %>
                        <%= f.url_field :pinterest_url, :placeholder => 'http://www.pinterest.com/TenTuPresupuesto' %>
                    </div>
                </div>
    
                <div class="control-group span9">
                    <%= f.label :instagram_url %>
                    <div class="controls">
                        <%= get_favicon('http://www.instagram.com') %>
                        <%= f.url_field :instagram_url, :placeholder => 'http://instagram.com/TenTuPresupuesto' %>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="botones">
            <%= link_to "Volver al panel", panel_proveedor_path, :class => 'btn' %> <%= f.submit "Actualizar", :class => 'btn btn-warning' %>
        </div>
    <% end %>
</div>
