<%- model_class = Proveedor -%>
<% 
content_for :head do
  stylesheet_link_tag 'proveedores'
end

content_for :foot do
  javascript_include_tag 'ubicaciones_geograficas', 'proveedores'
end

content_for :title do
  "Crear perfil de proveedor"
end
%>
<script type="text/javascript">var _editando = false;</script>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "Perfil de #{model_class.model_name.human}") %></h1>
</div>
<div class="alert alert-info alert-block">
    <p>
        <b>¡Verifica tu cuenta de correo!</b><br> 
        Tu dirección de correo electrónico <b><%= current_proveedor.email %></b> debe ser verificada. De no hacerlo podría ocasionar que no te lleguen las solicitudes publicadas en tus categorías y el posible bloqueo de tu cuenta.
    </p>
    <p style="text-align: right;"><%= link_to "Verificar mi correo", new_confirmation_path(current_proveedor), :class => 'btn btn-info' %></p>
</div>
<p class="centrado">Estás a punto de registrar un perfil como PROVEEDOR de servicios.<br>Si llegaste aquí por error, aún estás a tiempo de <%= link_to "cerrar sesión y crear un perfil de SOLICITANTE", no_soy_proveedor_path %></p>
<%= render :partial => 'form' %>
