<% 
content_for :head do
  stylesheet_link_tag 'proveedores'
end

content_for :foot do
  #javascript_include_tag 'trabajos_show'
end

content_for :title do
  "Panel de Proveedor"
end
%>
<h1 class="page-header">Panel de proveedor</h1>
<aside id="menu-panel" class="span5">
	<%= image_tag current_proveedor.perfil.avatar.mini.url if current_proveedor.perfil.avatar? %>
  <ul class="nav nav-list" data-spy="affix" data-offset-top="350" data-offset-bottom="200">
    <li class="nav-header"><i class="icon icon-user"></i> Opciones de usuario</li>
    <li><%= link_to "Ver perfil público", perfil_proveedor_path(current_proveedor.perfil) %></li>
    <li><%= link_to "Categorías de servicios", categorias_de_proveedor_path %></li>
    <li><%= link_to "Editar cuenta", edit_proveedor_registration_path %></li>
    <li><%= link_to "Editar perfil", edit_proveedor_path %></li>
    <li><%= link_to "Imagen de perfil", imagen_proveedor_path %></li>
    <li class="disabled">Fotos de trabajos</li>
    <li class="nav-header"><i class="icon icon-list-alt"></i> Opciones administrativas</li>
    <li><a href="#presupuestos-presentados">Presupuestos presentados <i class="icon-chevron-right"></i></a></li>
    <li><a href="#trabajos-ejecutando">Trabajos en ejecución <i class="icon-chevron-right"></i></a></li>
    <li><a href="#trabajos-pendientes">Trabajos por ser evaluados <i class="icon-chevron-right"></i></a></li>
    <li class="disabled">Evaluaciones</li>
    <li class="divider"></li>
    <li class="disabled">Estadísticas</li>
    <li class="disabled">Facturación</li>
  </ul>
</aside>
<div class="offset1 span16">
  <section id="presupuestos-presentados">
    <h2>Presupuestos presentados</h2>
    <% if !@presupuestos_presentados.nil? and @presupuestos_presentados.size > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Trabajo</th>
          <th>Precio ofrecido</th>
          <th>Mensajes</th>
        </tr>
      </thead>
      <tbody>
      <% @presupuestos_presentados.each do |p|
            t = p.trabajo
            m = p.mensajes
      %>
        <tr>
          <td>
            <%= link_to t.proposito, trabajo_path(t) %>
          </td>
          <td><%= link_to((number_to_currency(p.precio_minimo)+" a "+number_to_currency(p.precio_maximo)), p) %></td>
          <td><%= link_to(m.size, presupuesto_path(p, :anchor => "mensajes")) %> (<%= m.where(:usuario => :solicitante, :visto => false).size %> sin leer)</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else%>
    <p class="alert alert-info">No has presentado presupuestos. Revisa el listado ¡de seguro hay un trabajo para ti!</p>
  <% end %>
  </section>
  <section id="trabajos-ejecutando">
    <h2>Trabajos en ejecución</h2>
    <% if !@trabajos_asignados.nil? and @trabajos_asignados.size > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Trabajo</th>
          <th>Precio ofrecido</th>
          <th>Mensajes</th>
        </tr>
      </thead>
      <tbody>
      <% @presupuestos_asignados.each do |p|
            t = p.trabajo
            m = p.mensajes
      %>
        <tr>
          <td>
            <%= link_to t.proposito, trabajo_path(t) %>
          </td>
          <td><%= link_to((number_to_currency(p.precio_minimo)+" a "+number_to_currency(p.precio_maximo)), p) %></td>
          <td><%= link_to(m.size, presupuesto_path(p, :anchor => "mensajes")) %> (<%= m.where(:usuario => :solicitante, :visto => false).size %> sin leer)</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else%>
    <p class="alert alert-info">No tienes trabajos asignados. ¡Interactúa con tus futuros clientes! Eso te ayuda a ganar su confianza.</p>
  <% end %>
  </section>
  <section id="trabajos-pendientes">
    <h2>Trabajos por evaluar</h2>
  <% if @por_evaluar.size > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Trabajo</th>
          <th>Presupuestos</th>
          <th>Mensajes</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
      <% @por_evaluar.each do |trabajo| 
          mensajes = Mensaje.where(:presupuesto_id => trabajo.presupuestos)
      %>
        <tr>
          <td><%= trabajo.proposito %><br><%= link_to 'Ver solicitud', trabajo %></td>
          <td><%= trabajo.presupuestos.size %><br><%= link_to 'Ver presupuestos', trabajo_presupuestos_path(trabajo) %></td>
          <td><%= mensajes.size %> (<%= mensajes.where(:usuario => :proveedor, :visto => false).size %> sin leer)</td>
          <td><%= trabajo.estatus.to_s.camelize %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else%>
    <p class="alert alert-info">¡Excelente! No tienes trabajos sin evaluar</p>
  <% end %>
  </section>
</div>
