<%- model_class = Proveedor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre_empresa) %>:</strong></dt>
  <dd><%= @proveedor.nombre_empresa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_proveedor) %>:</strong></dt>
  <dd><%= @proveedor.tipo_proveedor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rif) %>:</strong></dt>
  <dd><%= @proveedor.rif %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @proveedor.descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:verificado) %>:</strong></dt>
  <dd><%= @proveedor.verificado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono_local) %>:</strong></dt>
  <dd><%= @proveedor.telefono_local %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono_movil) %>:</strong></dt>
  <dd><%= @proveedor.telefono_movil %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono_alt) %>:</strong></dt>
  <dd><%= @proveedor.telefono_alt %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @proveedor.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:punto_referencia) %>:</strong></dt>
  <dd><%= @proveedor.punto_referencia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:solicitudes_atendidas) %>:</strong></dt>
  <dd><%= @proveedor.solicitudes_atendidas %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trabajos_realizados) %>:</strong></dt>
  <dd><%= @proveedor.trabajos_realizados %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reputacion) %>:</strong></dt>
  <dd><%= @proveedor.reputacion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:valoraciones) %>:</strong></dt>
  <dd><%= @proveedor.valoraciones %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              proveedores_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_proveedor_path(@proveedor), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              proveedor_path(@proveedor),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
