<%
  content_for :title do
    "Un solicitante quiere que le contactes"
  end
%>

<p>La persona que generó la solicitud <b><%= @trabajo.proposito %></b> de <%= @categoria %>, ha solicitado que te enviemos sus datos de contacto.</p>
<p>Estos son sus datos:</p>
<p>
<b>Nombre</b>: <%= @solicitante.nombre.to_s %><br>
<% unless @solicitante.telefono_local.blank? %>
<b>Teléfono Local</b>: <%= @solicitante.telefono_local.to_s %><br>
<% end %>
<% unless @solicitante.telefono_movil.blank? %>
<b>Teléfono Móvil</b>: <%= @solicitante.telefono_movil.to_s %><br>
<% end %>
<% unless @solicitante.telefono_alt.blank? %>
<b>Teléfono Alternativo</b>: <%= @solicitante.telefono_alt.to_s %>
<% end %>
</p>
<p>Recuerda darle la mejor atención posible para que tengas más chance de ganar la contratación.</p>