<h1>&iexcl;Han publicado una nueva solicitud de tu interés!</h1>

<p>Fue publicada en la categoría <b><%= @categoria %></b> y se ubica en <%= @localidad %>, Municipio <%= @municipio %>, Estado <%= @estado %>.</p>

<p><%= link_to 'Revisa la solicitud', trabajo_url(@trabajo) %></p>

<p>Recuerda, responder pronto le demuestra tu interés a tu futuro cliente.</p>