<%
  content_for :title do
    "¡Han publicado una nueva solicitud de tu interés!"
  end
%>
<p>Fue publicada en la categoría <b><%= @categoria %></b> y se ubica en <%= @localidad %>, municipio <%= @municipio %>, estado <%= @estado %>.</p>

<p><%= link_to @trabajo.proposito, trabajo_url(@trabajo) %></p>

<p>Recuerda, responder pronto le demuestra tu interés a tu futuro cliente.</p>