<%
content_for :head do
stylesheet_link_tag 'reputacion'
end

content_for :liston do %>
<div class="offset3 span7 hide">
    <div id="iniciar-sesion" class="con-chango">
        <p>
            Iniciar como:
        </p>
    </div>
</div>
<div class="offset5 span4">
    <div id="iniciar-proveedor" class="btn-group dropup">
        <%= link_to "¡Regístrate!", '#', :class => "btn btn-large btn-warning dropdown-toggle", 'data-toggle'=>"dropdown" %>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Solicitante", new_registration_path("solicitante") %>
            </li>
            <li>
                <%= link_to "Proveedor", new_registration_path("proveedor") %>
            </li>
        </ul>
    </div>
</div>

<div class="offset4 span4">
    <div id="iniciar-solicitante" class="btn-group dropup">
        <%= link_to "Inicia Sesión", '#', :class => "btn btn-large btn-success dropdown-toggle", 'data-toggle'=>"dropdown" %>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Solicitante", new_session_path("solicitante") %>
            </li>
            <li>
                <%= link_to "Proveedor", new_session_path("proveedor") %>
            </li>
        </ul>
    </div>
</div>

<%
=begin
<%= form_for("solicitante", :url => session_path("solicitante")) do |f| %>
<div class="offset3 span12">
<div class="row">
<div class="control-group span6">
<%= f.label :email %>
<div class="controls">
<%= f.email_field :email %>
</div>
</div>
<div class="control-group span6">
<%= f.label :password, "Clave" %>
<div class="controls">
<%= f.password_field :password %>
</div>
</div>
</div>
<div class="row">
<div class="control-group span6">
<label for="usuario_remember_me" class="checkbox"> <%= f.check_box :remember_me %> Recordarme </label>
</div>
<div class="control-group span6">
<%= link_to "¿Olvidaste tu clave?", new_password_path('solicitante') %>
</div>
</div>
</div>
<div id="boton-sesion" class="offset1 span5">
<%= f.submit 'Iniciar sesión', :class => 'btn btn-success btn-large' %>
</div>
<% end
=end
%>
<% end %>
<section id="pasos-generales" class="row">
    <div id="pendon-solicita" class="pendon">
        <div class="contenido-pendon">
            <div class="imagen">
                <%= image_tag "tentu/landing/paso1.jpg", {:title => "Paso 1", :alt => "Paso 1"} %>
            </div>
            <h2>Solicita</h2>
            <p>
                Envía a los proveedores tu solicitud del trabajo que necesitas para tu hogar u oficina, de forma rápida y eficiente.
            </p>
        </div>
    </div>
    <div id="pendon-compara" class="pendon">
        <div class="contenido-pendon">
            <div class="imagen">
                <%= image_tag "tentu/landing/paso2.jpg", {:title => "Paso 2", :alt => "Paso 2"} %>
            </div>
            <h2>Compara</h2>
            <p>
                Recibe presupuestos de los proveedores, revisa sus trayectorias, y compara lo que te ofrecen.
            </p>
        </div>
    </div>
    <div id="pendon-contrata" class="pendon">
        <div class="contenido-pendon">
            <div class="imagen">
                <%= image_tag "tentu/landing/paso3.jpg", {:title => "Paso 3", :alt => "Paso 3"} %>
            </div>
            <h2>Contrata</h2>
            <p>
                Escoge al proveedor que te ofrezca el mejor servicio al mejor precio.
            </p>
        </div>
    </div>
</section>
<section id="datos-categorias" class="row hidden-phone">
    <h1 class="centrado con-chango">Forma parte de TenTuPresupuesto</h1>
    <br>
    <div class="offset3 span9">
        <h2><%= link_to "Ofrece", new_registration_path("proveedor") %> tu servicio</h2>
        <% for ficha in @proveedores %>
        <div class="offset0 span7">
            <%= render(:partial => 'proveedores/ficha', :locals => {:p => ficha, :contratado => false, :es_el_solicitante => false}) %>
        </div>
        <% end %>
    </div>
    <div class="offset2 span9">
        <h2><%= link_to "Publica", new_registration_path("solicitante") %> tu solicitud</h2>
        <ul>
            <% for cat in @categorias %>
            <li>
                <%= link_to (' <span class="badge badge">'+cat.trabajos_asociados.to_s+"</span> "+cat.nombre).html_safe, listar_trabajos_path('categoria', cat.friendly_id) %>
            </li>
            <% end %>
        </ul>
    </div>
</section>
<section id="feeds-sociales" class="row hidden-phone">
    <hr>
    <h1 class="centrado con-chango">Únete a nuestras Redes Sociales
    <br>
    <small>entérate de trucos y consejos</small></h1>
    <div class="span12 centrado">
        <script>
            ( function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=395217683915934";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-like-box" data-href="https://www.facebook.com/TenTuPresupuesto" data-width="300" data-height="400" data-show-faces="true" data-stream="true" data-show-border="true" data-header="true"></div>
        <div id="fb-root"></div>
    </div>
    <div class="span11 centrado">
        <a class="twitter-timeline" href="https://twitter.com/TnTuPresupuesto" width="300" height="400" data-widget-id="334882893987987456">Tweets por @TnTuPresupuesto</a>
        <script>
            ! function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
    </div>
</section>
