<%= form_for @trabajo do |f| %>
  <div class="control-group">
    <%= f.label :proposito, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :proposito, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion, :class => 'text_area' %>
    </div>
  </div>
    
  <div class="control-group"><%= f.label :pais_id %>
    <div class="controls"><%= select_entidad(:trabajo,:pais_id,nil,"pais") %></div>
  </div>
  
  <div class="control-group"><%= f.label :estado_id %>
    <div class="controls"><%= select_entidad(:trabajo,:estado_id,1,"estado") %><%= image_tag "cargando.gif", {:class => "cargando", :id => "loadingestado"} %></div>
  </div>
  
  <div class="control-group"><%= f.label :municipio_id %>
    <div class="controls"><%= select_entidad(:trabajo,:municipio_id,@trabajo.estado_id,"municipio") %><%= image_tag "cargando.gif", {:class => "cargando", :id => "loadingmunicipio"} %></div>
  </div>
  
  <div class="control-group"><%= f.label :localidad_id %>
    <div class="controls"><%= text_entidad(:trabajo,:localidad_id,@localidad) %><%= image_tag "cargando.gif", {:class => "cargando", :id => "loadinglocalidad"} %></div>
  </div>
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :direccion, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :categoria_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :categoria_id, Categoria.all.collect {|c| [ c.nombre, c.id ] } %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                trabajos_path, :class => 'btn' %>
  </div>
<% end %>
