<div id="crear-solicitud" class="formulario-general span21">
    <h2 class="sobre-color">Crear solicitud</h2>
    <%= simple_form_for @trabajo do |f| %>
        <span class="help-block">* Indica campo obligatorio</span>
        <fieldset>
            <br>
            <div class="row">
                <%= f.input :intencion do %>
                    <%= f.select :intencion, intenciones, { :include_blank => "-- Selecciona --" , :selected => nil} %>
                <% end %>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                Detalles del trabajo
            </legend>
            <p class="help-block">
                <i class="icon-white icon-asterisk"></i> Todos los campos son obligatorios
            </p>
            <div class="row">
                <div class="span9">
                    <%= f.input :categoria_id do %>
                        <%= f.select :categoria_id, Categoria.con_proveedores.collect {|c| [ c.nombre, c.id ] }, { :include_blank => "-- Selecciona --" } %>
                    <% end %>
                </div>
                <div class="offset1 span9">
                    <%= f.input :proposito do %>
                        <%= f.text_field :proposito, :input_html => { 'rel' => 'tooltip', 'title' => 'Ej: Pintar 4 paredes de un cuarto; Remodelar una sala de 60mts2;'} %>
                    <% end %>
                </div>
            </div>
            <div class="row span19">
                <%= f.input :descripcion, :hint => true, :as => :text, :input_html => { 'rel' => 'tooltip', 'title' => 'Da una descripción detallada: qué quieres exactamente, dimensiones, cantidad de espacios, posibles colores y materiales...'} %>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                Detalles de la ubicación
            </legend>
            <div class="span9">
                <%= f.input :pais_id, :required => true do %>
                    <%= select_entidad(:trabajo,:pais_id,nil,"pais") %>
                <% end %>
        
                <%= f.input :estado_id, :required => true do %>
                    <%= select_entidad(:trabajo,:estado_id,1,"estado") %><%= image_tag "tentu/generales/cargando.gif", {:class => "cargando", :id => "loadingestado"} %>
                <% end %>
    
                <%= f.input :municipio_id, :required => true do %>
                    <%= select_entidad(:trabajo,:municipio_id,@trabajo.estado_id,"municipio") %><%= image_tag "tentu/generales/cargando.gif", {:class => "cargando", :id => "loadingmunicipio"} %>
                <% end %>
            
                <%= f.input :localidad_id, :required => true do %>
                    <%= text_entidad(:trabajo,:localidad_id,@localidad) %><%= image_tag "tentu/generales/cargando.gif", {:class => "cargando", :id => "loadinglocalidad"} %>
                <% end %>
            </div>
            <div class="offset1 span8">
                <%= f.input :direccion, :hint => true, :as => :text %>
            </div>
        </fieldset>
        <div class="botones">
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")), panel_solicitante_path(@trabajo), :class => 'btn' %>
            <%= f.submit nil, :class => 'btn btn-warning', "data-loading-text" => "Publicando...", :id => "crear-trabajo" %>
        </div>
    <% end %>
</div>
