<%- model_class = Trabajo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:proposito) %>:</strong></dt>
  <dd><%= @trabajo.proposito %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @trabajo.descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estatus) %>:</strong></dt>
  <dd><%= @trabajo.estatus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @trabajo.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio_final) %>:</strong></dt>
  <dd><%= @trabajo.precio_final %></dd>
  <dt><strong><%= model_class.human_attribute_name(:solicitante_id) %>:</strong></dt>
  <dd><%= @trabajo.solicitante_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contratado_id) %>:</strong></dt>
  <dd><%= @trabajo.contratado_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              trabajos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_trabajo_path(@trabajo), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              trabajo_path(@trabajo),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
