<%- model_class = Trabajo -%>
<% content_for :head do %>
  <%= stylesheet_link_tag 'trabajos' %>
<% end %>
<% 
  content_for :title do 
    @trabajo.proposito
  end
%>
<% cantidad_presupuestos = @trabajo.presupuestos.nil? ? @trabajo.presupuestos.count : 0 %>
<article id="solicitud-trabajo">
<%= render :partial => 'trabajos/cabecera', :locals => {:trabajo => @trabajo, :cantidad_presupuestos => cantidad_presupuestos} %>
  <section id="descripcion">
    <%= @trabajo.descripcion %>
  </section>
</article>
<footer class="form-actions">
<% if solicitante_signed_in? and current_solicitante.perfilable_id.eql?(@trabajo.solicitante_id) %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              trabajos_path, :class => 'btn' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_trabajo_path(@trabajo), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              trabajo_path(@trabajo),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro de eliminar la oferta?')),
              :class => 'btn btn-danger' %>
<% elsif proveedor_signed_in? %>
  <% #= link_to t('.new', :default => "Ofrecer presupuesto"),
     #         new_trabajo_presupuesto_path(@trabajo), :class => 'btn'  
     %>
<% end %>
</footer>