<%- model_class = Trabajo -%>
<%
 content_for :head do
    stylesheet_link_tag 'reputacion', 'categorias', 'trabajos'
  end

  content_for :foot do
    javascript_include_tag 'trabajos_show'
  end

  content_for :title do
    "Solicitud: "+@trabajo.proposito
  end

  content_for :article_tag_id do
    "solicitud-trabajo"
  end

  content_for :liston do
    render :partial => 'trabajos/cabecera', :locals => {:trabajo => @trabajo, :cantidad_presupuestos => @trabajo.presupuestos.size, :color => "b"}
  end
%>
<section id="descripcion" class="offset1 span20">
	<h2>Descripci&oacute;n del trabajo solicitado</h3>
	<%= @trabajo.descripcion %>
</section>
<div class="clearfix"></div>
<div class="form-actions">
	<% if @es_el_solicitante %>
		<%= link_to t('.back', :default => t("helpers.links.back")),
			trabajos_path, :class => 'btn' %>
		<%= link_to t('.edit', :default => t("helpers.links.edit")),
			edit_trabajo_path(@trabajo), :class => 'btn' %>
		<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			trabajo_path(@trabajo),
			:method => 'delete',
			:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro de eliminar la oferta?')),
			:class => 'btn btn-danger' %>
	<% elsif proveedor_signed_in? %>
		<%= link_to t('.new', :default => "Ofrece un presupuesto para esta solicitud"),
			new_trabajo_presupuesto_path(@trabajo), :class => 'btn btn-success btn-large' %>
	<% else %>
		<%= link_to t('.new', :default => "Para ofertar presupuestos o publicar solicitudes como esta, regístrate aquí"),
			new_registration_path("solicitante"), :class => 'btn btn-success btn-large' %>
	<% end %>
</div>
<div class="clearfix micro-nota">
	Ref: <%= @trabajo.id %>
</div>
<a name="presupuestos"></a>
<% if @trabajo.contratado %>
<section id="contratado">
	<h2>Proveedor contratado</h2>
	<div class="presupuesto">
		<span class="proveedor-contratado"><%= @trabajo.contratado.nombre_empresa %></span><%= raw mostrar_reputacion(@trabajo.contratado.reputacion, @trabajo.contratado.valoraciones, "general") %>
	</div>
</section>
<% end %>
<% # No se muestra si el trabajo fue asignado y era el unico proveedor
if (@trabajo.presupuestos.size == 1 and not @trabajo.contratado) or @trabajo.presupuestos.size > 1 %>
<section id="proveedores-interesados">
	<h2>Proveedores interesados</h2>
	<%= render(:partial => 'presupuestos/info_en_trabajo', 
		:collection => @trabajo.presupuestos, :as => :p, 
		:locals => {:contratado => @trabajo.contratado, :es_el_solicitante => @es_el_solicitante}) or 'No hay presupuestos presentados.' %>
</section>
<% end %>