<%- model_class = Trabajo -%>
<%
 content_for :head do
    stylesheet_link_tag 'reputacion', 'categorias', 'trabajos'
  end

  content_for :foot do
    javascript_include_tag 'trabajos_show' #'jquery.autoellipsis.min',
  end

  content_for :title do
    "Solicitud: "+@trabajo.proposito
  end

  content_for :meta_description do
      truncate(@trabajo.descripcion, length:150, separator:' ', omission:'... ')+" ["+@trabajo.categoria.nombre+" - Estado "+@trabajo.estado.nombre+", "+@trabajo.pais.nombre+" - "+@trabajo.estatus+"]"
  end

  content_for :article_tag_id do
    "solicitud-trabajo"
  end

  content_for :liston do
    render :partial => 'trabajos/cabecera', :locals => {:trabajo => @trabajo, :cantidad_presupuestos => @trabajo.presupuestos.size, :color => "b"}
  end
%>
<section id="descripcion" class="offset1 span20">
<% if @trabajo.contratado %>
<section id="contratado" class="offset1 span7 pull-right">
    <h2>Proveedor contratado</h2>
    <div class="span6">
        <%= render(:partial => 'proveedores/ficha', :locals => {:p => @trabajo.contratado, :pre => false, :contratado => true, :es_el_solicitante => @es_el_solicitante}) %>
    </div>
</section>
<% end %>
    <h2>Descripci&oacute;n del trabajo solicitado</h2>
<% if @trabajo.buscando? %>
    <p class="intencion"><b><%= t('intencion', :scope => 'activerecord.attributes.trabajo') %>:</b> <%= t(@trabajo.intencion, :scope => 'activerecord.attributes.trabajo.intenciones') %></p>
<% end %>
    <pre><%= @trabajo.descripcion %></pre>
<% unless @trabajo.buscando? %>
    <p><%= "<b>Estatus</b>: ".html_safe+@trabajo.estatus %></p>
<% end %>
<% if @trabajo.ejecutando? %>
    <% if @es_el_proveedor %>
    <h4>Datos del solicitante</h4>
    <dl class="dl-horizontal">
        <% unless @trabajo.solicitante.telefono_local.blank? %>
        <dt>
            <strong>Teléfono Local: </strong>
        </dt>
        <dd>
            <%= @trabajo.solicitante.telefono_local %>
        </dd>
        <% end %>
        <% unless @trabajo.solicitante.telefono_movil.blank? %>
        <dt>
            <strong>Teléfono Móvil </strong>
        </dt>
        <dd>
            <%= @trabajo.solicitante.telefono_movil %>
        </dd>
        <% end %>
        <% unless @trabajo.solicitante.telefono_alt.blank? %>
        <dt>
            <strong>Teléfono Alternativo: </strong>
        </dt>
        <dd>
            <%= @trabajo.solicitante.telefono_alt %>
        </dd>
        <% end %>
    </dl> 
    <% end %>
<% end %>
</section>
<div class="clearfix micro-nota">Ref: <%= @trabajo.id %></div>
<div class="clearfix"></div>
<div class="form-actions">
<% if @es_el_solicitante %>
    <%= link_to "Volver al panel", panel_solicitante_path, :class => 'btn btn-large' %>
    <%= link_to(t('.edit', :default => t("helpers.links.edit")), edit_trabajo_path(@trabajo), :class => 'btn btn-large') if @trabajo.buscando? or @trabajo.cerrado? %>
    <%= link_to "Cerrar solicitud", cerrar_trabajo_path(@trabajo), :method => 'put',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Deseas cerrar esta solicitud? Los proveedores no podran ofertarte.')) },
        :id => 'cerrar-solicitud', :class => 'btn btn-large' if @trabajo.buscando? %>
    <%= link_to "Reabrir solicitud", abrir_trabajo_path(@trabajo), :method => 'put',
        :id => 'cerrar-solicitud', :class => 'btn btn-large' if @trabajo.cerrado? %>
    <%= link_to(t('.destroy', :default => t("helpers.links.destroy")),
        trabajo_path(@trabajo),
        :method => 'delete',
        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro de eliminar la oferta?')),
        :class => 'btn btn-danger btn-large') if @trabajo.buscando? or @trabajo.cerrado? %>
    <%= link_to("Evaluar trabajo", new_trabajo_evaluacion_path(@trabajo), :id => 'evaluar-trabajo', :class => 'btn btn-success btn-large') if @trabajo.finalizado? and !@trabajo.evaluacion %>
<% elsif proveedor_signed_in? %>
    <%= link_to(t('.new', :default => "Ofrece un presupuesto para esta solicitud"),
        new_trabajo_presupuesto_path(@trabajo), :class => 'btn btn-success btn-large') if @trabajo.buscando? %>
    <%= link_to("He finalizado este trabajo", '#modal-finalizado', :id => 'finalizar-trabajo', :class => 'btn btn-success btn-large', "data-toggle"=>"modal", "data-backdrop"=>"static") if @trabajo.ejecutando? and @es_el_proveedor %>
<% else %>
    <%= link_to t('.new', :default => "Para ofertar presupuestos o publicar solicitudes como esta, regístrate aquí"),
    new_registration_path("proveedor"), :class => 'btn btn-success btn-large' %>
<% end %>
    <%= image_tag "tentu/generales/cargando.gif", {:class => "cargando cargando24", :id => "loading-trabajo"} %>
</div>
<%= render 'trabajos/form_finalizacion' if @trabajo.ejecutando? and @es_el_proveedor %>
<a name="presupuestos"></a>
<% # No se muestra si el trabajo fue asignado y era el unico proveedor
if (@trabajo.presupuestos.size == 1 and not @trabajo.contratado) or @trabajo.presupuestos.size > 1 %>
<section id="proveedores-interesados">
    <h2>Proveedores interesados</h2>
<% if @trabajo.presupuestos %>
    <div id="fichas" class="offset0">
    <% for presupuesto in @trabajo.presupuestos %>
        <%= render(:partial => 'proveedores/ficha', :locals => {:p => presupuesto.proveedor, :pre => presupuesto, :contratado => (@trabajo.contratado and false), :es_el_solicitante => @es_el_solicitante}) %>
    <% end %>
    </div>
<% else %>
    No hay presupuestos presentados
<% end %>
</section>
<% end %>
