<div class=" clearfix"></div>
<div class="formulario-general">
<%= form_for [@presupuesto, @mensaje] do |f| %>
  <div class="control-group">
    <%= f.label :comentario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comentario, :class => 'text_field', :validate => true %>
    </div>
  </div>
  <%= f.hidden_field :usuario, :value => @tipo_usuario %>

  <%= f.submit nil, :class => 'btn btn-warning' %>

<% end %>
</div>
