<%= form_for [@presupuesto, @mensaje], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :comentario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comentario, :class => 'text_field' %>
    </div>
  </div>
  <%= f.hidden_field :usuario, :value => @tipo_usuario %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                presupuesto_mensajes_path(@presupuesto), :class => 'btn' %>
  </div>
<% end %>
