<%= form_for(@solicitante) do |f| %>
  <% if @solicitante.errors.any? %>
    <div id="error_explanation">
      Ocurri&oacute; un error. No se pudo procesar la solicitud.
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cedula %><br />
    <%= f.number_field :cedula %>
  </div>
  <fieldset>
    <legend>Datos de ubicaci&oacute;n</legend>
    (Facilita la publicaci&oacute;n de solicitudes)
    <div class="field">
      <%= f.label :calle_avenida %><br />
      <%= f.text_field :calle_avenida %>
    </div>
    <div class="field">
      <%= f.label :casa_edificio %><br />
      <%= f.text_field :casa_edificio %>
    </div>
    <div class="field">
      <%= f.label :numero_apto %><br />
      <%= f.text_field :numero_apto %>
    </div>
    <div class="field">
      <%= f.label :punto_referencia %><br />
      <%= f.text_field :punto_referencia %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
