<!DOCTYPE html>
<html lang="es">
    <head>
        <%= render "layouts/shared/metatags" %>
        <%= csrf_meta_tags %>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        <![endif]-->

        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= yield :head %>
    </head>
    <body>
        <div class="container">
            <%= render "layouts/shared/enlaces_de_sitio" %>
            <header id="cabecera-interna" class="span24">
                <div class="navbar">
                    <div class="offset1 span22">
                        <a class="brand" href="/"><%= image_tag "tentu/generales/logo_tentupresupuesto.png", {:title => "TenTuPresupuesto", :alt => "TenTuPresupuesto"} %></a>
                        <%= render "layouts/shared/publicidad/cabecera_interna" %>
                    </div>
                </div>
                <%= render "layouts/shared/breadcrumbs" %>
                <%= render "layouts/shared/mensajes" %>
            </header>
        </div>
        <div class="container">
            <div id="cuerpo" class="span24">
                <div class="container">
                    <%= yield %>
                </div>
                <!-- /container -->
                <%= render "layouts/shared/mensajes" %>
                <%= render "layouts/shared/publicidad/cuerpo_inferior" %>
            </div>
        </div>
        <%= render "layouts/shared/pie_de_pagina" %>
        <%= javascript_include_tag "application" %>
        <!-- Javascripts
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%= yield :foot %>
    </body>
</html>
