<!DOCTYPE html>
<html lang="es">
  <head>
    <%= render "layouts/shared/metatags" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "interna-liston", :media => "all" %>
    <%= yield :head %>
    <!-- For all other devices --><!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'tentu/generales/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <div class="container">
      <header id="cabecera-interna" class="span24">
        <div class="navbar">
          <div class="offset1 span22">
            <a class="brand" href="/"><%= image_tag "tentu/generales/logo_tentupresupuesto.png", {:title => "TenTuPresupuesto", :alt => "TenTuPresupuesto"} %></a>
            <div class="enlaces_usuario">
              <%= render "layouts/shared/enlaces_de_usuario" %>
            </div>
          </div>
        </div>
        <%= render "layouts/shared/breadcrumbs" %>
      </header>
    </div>
    <article id="<%= yield :article_tag_id %>">
      <div id="liston" class="clearfix">
        <div class="container">
          <%= render "layouts/shared/mensajes" %>
          <%= yield :liston %>
        </div>
      </div>
      <div class="container">
        <div id="cuerpo" class="span24">
          <div class="container">
            <%= yield %>
          </div> <!-- /container -->
         </div>
      </div>
    </article>
    <%= render "layouts/shared/pie_de_pagina" %>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "interna-liston" %>
    <%= yield :foot %>
  </body>
</html>
