<!DOCTYPE html>
<html lang="es">
  <head>
    <%= render "layouts/shared/metatags" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "landing", :media => "all" %>
    <%= yield :head %>
    <!-- For all other devices --><!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'tentu/generales/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <div class="container">
      <header id="cabecera" class="span24">
        <div class="offset1 span10">
          <div id="logo-texto" class="span10"><h1><%= image_tag "tentu/generales/logo-texto.png", {:title => "TenTuPresupuesto", :alt => "TenTuPresupuesto"} %></h1></div>
          <h2 id="slogan" class="sobre-color span10">Logra el cambio...</h2>
        </div>
        <div id="enlace-registro" class="offset1 span5"><%= link_to '¡Regístrate aquí!', new_registration_path("proveedor") %></div>
        <div id="personaje" class="span7 hidden-phone"><%= image_tag "tentu/landing/personaje.png" %></div>
        <div id="texto" class="span22 hidden-phone"><p><b>TenTuPresupuesto</b> es el punto de encuentro entre solicitantes y proveedores de servicios de reparación y remodelación de hogares y locales comerciales que facilita la contratación de servicios de calidad al mejor precio.</p></div>
      </header>
    </div>
    <div id="liston">
      <div class="container">
        <%= form_for("solicitante", :url => session_path("solicitante")) do |f| %>
          <div class="offset3 span12">
            <div class="row">
              <div class="control-group span6"><%= f.label :email %>
                <div class="controls"><%= f.email_field :email %></div>
              </div>
              <div class="control-group span6"><%= f.label :password, "Clave" %>
                <div class="controls"><%= f.password_field :password %></div>
              </div>
            </div>
            <div class="row">
              <div class="control-group span6">
                <label for="usuario_remember_me" class="checkbox">
                  <%= f.check_box :remember_me %> Recordarme
                </label>
              </div>
              <div class="control-group span6">
                <%= link_to "¿Olvidaste tu clave?", new_password_path('solicitante') %>
              </div>
            </div>
          </div>
          <div id="boton-sesion" class="offset1 span5"><%= f.submit 'Iniciar sesión', :class => 'btn btn-success btn-large' %></div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div id="cuerpo" class="span24">
        <div class="container">
          <%= yield %>
        </div> <!-- /container -->
       </div>
    </div>
    <%= render "layouts/shared/pie_de_pagina" %>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "landing" %>
    <%= yield :foot %>
  </body>
</html>
